################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WPF-11_06_23/FileContentIndex/merges/71278479-e9d6-49d9-916f-a0137adbde57.vsidx
/.vs/WPF-11_06_23/FileContentIndex/4b26f583-c420-4f6b-b025-75edc02a1486.vsidx
/.vs/slnx.sqlite
